@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar on WebKit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just to be safe */
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Hide scrollbar in Firefox */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge legacy */
}

textarea:focus {
  outline: none; /* Remove default browser outline */
  box-shadow: none; /* Remove any box-shadow that might appear */
}
